.todo-input {
    width: 100%;
    background: #fefefe;
    position: relative;
}
.todo-input > span {
    display: inline-block;
    text-align: center;
    font-size: 72px;
    color: #e6e6e6;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    padding-top: 16px;
}
.todo-input input {
    width: calc(100% - 85px);
    height: 70px;
    outline: none;
    background: transparent;
    border-width: 0;
    margin-left: 80px;
}
input::-webkit-input-placeholder { 
    color: #e8e8e8;    
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
    line-height: 60px;
} 
input:-moz-placeholder { 
    color: #e8e8e8;    
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    padding-left: 50px; 
} 
input::-moz-placeholder { 
    color: #e8e8e8;    
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    padding-left: 50px; 
} 
input:-ms-input-placeholder { 
    color: #e8e8e8;    
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    padding-left: 50px; 
} 